<server
        diameter-config-uri="diameter/server-stack-config.xml">
    <!--
        special stub application
    -->
    <listener
            vendor-id="105"
            auth-app-id="1"
            template-uri="answers/brentcroft-stub.jstl"/>
    <!--

    -->
    <listener
            vendor-id="0"
            auth-app-id="4"
            template-uri="answers/basic-answer.jstl"/>
    <!--

    -->
    <start
            mode="ALL_PEERS"
            stack-creation-timeout="30000"
            time-unit="MILLISECONDS"/>
</server>